DATABASE_URL="postgres://user:password@host:5432/wishlist"
OWNER_PASSCODE="12345"
STUDIO_COOKIE_SECRET="12345"
BLOB_READ_WRITE_TOKEN=""
WISHLIST_MODE="live"
IMAGE_SEARCH_PROVIDER="fake"
IMAGE_SEARCH_ENDPOINT=""
IMAGE_SEARCH_API_KEY=""
BACKGROUND_REMOVAL_PROVIDER="fake"
BACKGROUND_REMOVAL_ENDPOINT=""
BACKGROUND_REMOVAL_API_KEY=""
NEXT_PUBLIC_PROFILE_TITLE="@swayam's Objects of Interest"
